body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:675px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:735px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:128px;
  width:375px;
  height:735px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:360px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:78px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:78px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:13px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:57px;
  width:363px;
  height:13px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:27px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:95px;
  width:86px;
  height:27px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:107px;
  width:3px;
  height:3px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:106px;
  width:5px;
  height:5px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:107px;
  width:3px;
  height:3px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:18px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:99px;
  width:1px;
  height:17px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:101px;
  width:15px;
  height:15px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:106px;
  width:5px;
  height:5px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:99px;
  width:92px;
  height:19px;
  font-size:16px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:101px;
  width:10px;
  height:16px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:199px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u801 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:50px;
  width:228px;
  height:199px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:208px;
  word-wrap:break-word;
}
